beautifulsoup4==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
matplotlib==3.5.0
nltk==3.7
notebook==6.4.11
numpy==1.22.2
pandas==1.4.1
pca==1.8.0
Pillow==9.0.1
python-dateutil==2.8.2
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
word2vec==0.11.1
